body
{
    text-align: center;
    background-color: #292929;
}

.header
{
    color: white;
}

.main
{
    display: grid;
    margin: auto;
    width: 600px;
    height: 600px;
    border: 1px solid;

}

.bottom
{
    padding: 5% 20% 5% 20%;
    display: flex;
    justify-content: space-evenly;
}